div #content {
    max-width: 1600px;
    background-color: powderblue;
    margin: auto;
    height: 200px;
    text-align: center;
}

#hero-msg h1,
#hero-msg h4,
.button-box,
nav a,
main section {
    text-align: center;
}

.icon {
    width: 80px;
}

nav a {
    color: #1C4666;
    text-decoration: none;
    padding: 35px;
}

body {
    background-color: #ffffff;
    color: #7ec1d2;
}

header {
    background-color: #7ec1d2;
    color: #1C4666;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a:hover {
    background-color: #1C4666;
    color: #ffffff;
    text-decoration: none;
}

.book,
.join {
    background-color: #f5de77;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px 30px;
    margin-top: 40px;
    font-family: Manrope, Helvetica, sans-serif;
    font-size: 18px;
}

.book:hover {
    background-color: #ffffff;
    color: #7ec1d2;
}

.join:hover {
    background-color: #7ec1d2;
    color: #1C4666;
}

#background {
    background-color: #f5de77;
    color: #1C4666;
    height: 725px;
    max-width: 1600px;
    margin: 0 auto;
}

.msg {
    background-color: #f5de77;
    color: #ffffff;
    padding: 35px;
}

footer a {
    background-color: #1C4666;
    color: #ffffff;
    text-decoration: none;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

img#hero-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.home-title {
    font-family: Manrope, Helvetica, sans-serif;
    font-size: 2em;
    font-family: Manrope, Helvetica, sans-serif;
    margin-top: 10px;
}

.msg p {
    font-family: Manrope, Helvetica, sans-serif;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}

body {
    background-color: #fcfbfb;
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer {
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

.rivers-card,
.camping-card,
.rapids-card {
    margin: 200px 0;
}

main section img {
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    grid-column: 1/4;
    grid-row: 1/3;
}

section#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-content: center;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img {
    width: 100%;
    transition: transform .5s;
    border: 10px solid #1C4666;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.camping-card {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
}

.rapids-card {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

#background {
    grid-column-start: 1;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 9;
}

.mountains {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
    box-shadow: 5px 5px 10px #6f7364;
}

@media screen and (max-width: 900px) {

    #hero.img,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;

    }

    #hero-msg h4 {
        display: none;
    }

    #hero-msg h1 {
        color: #7ec1d2;
    }

    .home-title {
        font-size: 25px;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #dedbdb;
    color: #1C4666;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: large
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
    background-color: #7ec1d2;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 22px;
    background-color: white;
    display: none;
    overflow: hidden;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.msg {
    background-color: #f5de77;
    color: #ffffff;
    padding: 35px;
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
    box-shadow: 5px 5px 10px #6f7364;
    background-color: #f5de77;
    color: #ffffff;
    padding: 35px;
}

.msg p {
    font-family: Manrope, Helvetica, sans-serif;
    font-size: .8em;
    line-height: 1.5em;
    padding-bottom: 15px;
}

.mountains {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
    box-shadow: 5px 5px 10px #6f7364;
}

.msg {
    grid-column-start: 6;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 7;
    box-shadow: 5px 5px 10px #6f7364;
}

.last_paragraph {
    color: #1C4666;
    background-color: #1C4666;
}
/*this is CSS for the contactus.html page*/
body {
    /* Center the form on the page */
    text-align: center;
}

form {
    display: inline-block;
    /* Form outline */
    padding: 1em;
    border: 1px solid#7ec1d2;
    border-radius: 1em;
    margin-top: 2em;
}

p+p {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    min-width: 90px;
    text-align: right;
}

input,
textarea {
    /* To make sure that all text fields have the same font settings
       By default, text areas have a monospace font */
    font: 1em sans-serif;
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    /* Set the outline width and style */
    outline-style: solid;
    /* To give a little highlight on active elements */
    outline-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}

.moveDown {
    margin-top: 3em;
}